<!DOCTYPE html>
<html lang="en">
<head>
    <module href="/components/head.html"></module>
    <script src="bundle.js"></script>
    <link rel="stylesheet" href="index.css">
    <title>JWT Decoder</title>
</head>
<body>
    <header class="title-bar">
        <h1>JWT DECODER</h1>
    </header>
    <main>
        <div class="container-body">

            <div class="encoder-input">
                <h2>Input encoded JWT</h2>
                <textarea id="jwtInput">eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c</textarea>
                <div class="encoder-footer">
                    <button class="btn btn-decode" onclick="bundle.decodeJWT()">Decode</button>
                </div>
            </div>
            <div class="error-banner banner-off" id="error-banner">

            </div>
            
            <div class="output-containers header">
                <div class="output-container" >
                    <h2>Header</h2>
                    <div id="output-header" class="header">
                        <textarea id="headerTextArea" readonly>

                        </textarea>
                    </div>
                </div>
                <div class="output-container payload" >
                    <h2>Payload</h2>
                    <div id="output-payload" class="payload">
                        <textarea id="payloadTextArea" readonly>
                            
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>